home<br>
<a href="/auth/github">Login with Github</a><br><br>
<a href="/auth/linkedin">Login with LinkedIn</a><br><br>
<a href="/auth/google">Sign In with Google</a><br><br>
<a href="/register">Signup</a><br>
<a href="/login">Login</a><br>
<a href="/logout">Logout</a><br>