login form


<form action="/login" method="POST">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button>Login</button>
</form>

<a href="/register">Signup</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>