<br>
First sign up here!!

<form action="/register" method="POST">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button>Submit</button>
</form>

<a href="/register">Signup</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>