<%include partials/header%>
<div class="ui segment">
<a href="/" class="ui basic button">Back</a>
<div class="ui segment">
<form class="ui form" action="/update/<%=data.id%>?_method=PUT" method="POST">
<h2 class="ui dividing header">Edit and Update.</h2>
<div class="wide field">
<label>Name of Post:</label>
<input type="text" name="pstname" value="<%=data.pstname%>" placeholder="Name of Post">
</div>
<div class="wide field">
<label>Image Link:</label>
<input type="text" name="image" value="<%=data.image%>"  placeholder="Image Link">
</div>
<div class="wide field">
<label>Image Name or Type:</label>
<input type="text" name="imgname" value="<%=data.imgname%>"  placeholder="Name of Image">
</div>
<div class="eight wide field">
<label>Description:</label>
<textarea name="description"><%-data.description%>
</textarea>
</div>
<input class="ui basic purple button" type="submit" value="Update">
</form>
</div>
</div>
<%include partials/footer%>