<%include partials/header%>
<div class="ui segment">
<h1>Welcome to post, here you can post your ideas.</h1>
<a href="/start" class="ui primary button">Create Blog</a>
<%for(var i=0;i<data.length;i++){%>
<div class="ui segment">
<h3><%=data[i].pstname%></h3><br/>
<img src="<%=data[i].image%>" height=300px width=600px><br/>
<h4><%=data[i].imgname%></h4><br/>
<b>Posted on:</b>&nbsp<%=data[i].date.toDateString()%><br/>
<b>Description:</b>&nbsp<%-data[i].description.substring(0, 50)%>...<br/>
<h5><a href="/view/<%=data[i]._id%>"class="ui mini basic button">View More</a></h5>
</div>
<%}%>
<a href="/start" class="ui primary button">Create Blog</a>
</div>
<%include partials/footer%>
