<%include partials/header%>
<div class="ui segment">
<a href="/" class="ui basic button">Back</a>
<h2><%=data.pstname%> blog</h2>
<div class="ui segment">
<h2><%=data.pstname%></h2><br/>
<div class="segment">
<img src="<%=data.image%>" height=400px width=1060px><br/>
</div>
<h3><%=data.imgname%></h3><br/>
<b>Date:&nbsp</b><%=data.date.toDateString()%><br/>
<b>Description:&nbsp</b><%-data.description%><br/>
<a href="/edit/<%-data.id%>" class="ui basic blue button">EDIT</a>
<form action="/delete/<%=data.id%>?_method=DELETE" method="POST">
<button class="ui basic red button">DELETE</button>
</form>
</div>
</div>
<%include partials/footer%>