<%include partials/header%>
<div class="ui segment">
<a href="/" class="ui basic button">Back</a>
<h1>Create Your Blog.</h1>
<div class="ui segment">
<form class="ui form" action="/land" method="POST">
<div class="field">
<label>Enter the 'topic' of your post: </label>
<input type="text" name="pstname" placeholder="Name of Post">
<div>
<div class="field">
<label>Enter Image link: </label>
<input type="text" name="image" placeholder="Image Link">
</div>
<div class="field">
<label>Write Name of Image: </label>
<input type="text" name="imgname" placeholder="Name of Image">
</div>
<div class="field">
<label>Write 'description' about your post: </label>
<textarea name="description"></textarea>
</label>
<input type="submit" class="ui basic green button">
</form>
</div>
</div>
<%include partials/footer%>